<ion-header [translucent]="true" id="header">
  <ion-title id="textTitle">Registro</ion-title>
  <div>
    <ion-card id="profileCard">
      <ion-card-header>[Nombre app]</ion-card-header>
      <ion-card-content id="textCard">Propiedades</ion-card-content>
    </ion-card>
  </div>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-row class="ion-justify-content-center" >
    <ion-card id="container">
      <ion-card-header>
        <ion-card-title>Registro</ion-card-title>
        <ion-card-subtitle>Registrar nueva propiedad</ion-card-subtitle>
        <br>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="formPropiedad">
          <ion-input formControlName="owner" label="Nombre propietario" label-placement="floating" fill="outline"
          placeholder="Ingrese nombre"></ion-input>
          <br />
          <ion-input formControlName="address" label="Direccion" label-placement="floating" fill="outline"
            placeholder="Ingrese dirección" ></ion-input>
          <br>
          <ion-input formControlName="contactNumber" label="Numero" label-placement="floating" fill="outline"
            placeholder="Ingrese numero de contacto"></ion-input>
          <br>
          <hr>
        </form>
      </ion-card-content>
    </ion-card>
  </ion-row>
  <ion-row class="ion-justify-content-center">

    <ion-button (click)="register()" fill="outline" color="rojo">
      Registrarse
    </ion-button>
  </ion-row>

</ion-content>

<footer id="fContainer">

  <div id="fBloque">
    <ion-button [routerLink]="['/home']" shape="round" fill="solid" size="large" expand="block" slot="icon-only" color="light">
      <ion-icon name="home"></ion-icon>
    </ion-button>
  </div>

  <div id="fBloque">
    <ion-button shape="round" fill="solid" size="large" expand="block" slot="icon-only" color="light">
      <ion-icon name="bookmarks"></ion-icon>
    </ion-button>
  </div>

  <div id="fBloque">
    <ion-button [routerLink]="['/perfil']" shape="round" fill="solid" size="large" expand="block" slot="icon-only" color="light">
      <ion-icon name="person"></ion-icon>
    </ion-button>
  </div>

</footer>