<ion-header [translucent]="true" id="header">
  <ion-title id="textTitle"></ion-title>
  <div>
    <ion-card id="profileCard">
      <ion-card-header>Bienvenido/a</ion-card-header>
      <ion-card-content id="textCard">{{username}}</ion-card-content>
    </ion-card>
  </div>
</ion-header>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<ion-content>
  <h3>Para comenzar, seleccione una propiedad </h3>
  <ion-list>
    <ion-item>
      <ion-select label="Seleccionar Propiedad" [(ngModel)]="propiedadId">
        <ion-select-option *ngFor="let propiedad of propiedades" [value]="propiedad.id">
          {{ propiedad.address }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>


  <ion-row class="ion-justify-content-center">
    <ion-button [routerLink]="['/home', propiedadId]">
      Continuar
    </ion-button>

  </ion-row>
  <ion-row class="ion-justify-content-center">
    
    <ion-button [routerLink]="['/registrar-propiedad']">
      Agregar nueva propiedad
    </ion-button>
  </ion-row>
</ion-content>



<footer id="fContainer">

  <div id="fBloque">
    <ion-button shape="round" fill="solid" size="large" expand="block" slot="icon-only" color="light">
      <ion-icon name="home"></ion-icon>
    </ion-button>
  </div>

  <div id="fBloque">
    <ion-button shape="round" fill="solid" size="large" expand="block" slot="icon-only" color="light">
      <ion-icon name="bookmarks"></ion-icon>
    </ion-button>
  </div>

  <div id="fBloque">
    <ion-button shape="round" fill="solid" size="large" expand="block" slot="icon-only" color="light">
      <ion-icon name="person"></ion-icon>
    </ion-button>
  </div>

</footer>