<ion-header [translucent]="true" id="header">
  <ion-title id="textTitle">Registro</ion-title>
  <div>
    <ion-card id="profileCard">
      <ion-card-header>SafetyHome</ion-card-header>
      <ion-card-content id="textCard">Bienvenido/a</ion-card-content>
    </ion-card>
  </div>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-row class="ion-justify-content-center" >
    <ion-card id="container">
      <ion-card-header>
        <ion-card-title>Registro</ion-card-title>
        <ion-card-subtitle>¡Bienvenido/a!</ion-card-subtitle>
        <br>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="registerForm">
          <ion-input formControlName="username" label="Usuario" label-placement="floating" fill="outline"
          placeholder="Ingrese usuario"></ion-input>
          <br />
          <ion-input formControlName="email" label="Email" label-placement="floating" fill="outline"
            placeholder="Ingrese email" ></ion-input>
          <br>
          <ion-input formControlName="password" label="Contraseña" label-placement="floating" fill="outline"
            placeholder="Ingrese contraseña" [type]="passType"></ion-input>
          <br>
          <ion-input formControlName="password2" label="Confirmar contraseña" label-placement="floating" fill="outline"
            placeholder="Confirmar contraseña" [type]="passType"></ion-input>
          <br>
          <ion-checkbox (ionChange)="verPass()" labelPlacement="end">Mostrar contraseña</ion-checkbox>
          <hr>
          <a [routerLink]="['/login']">¿Ya tienes una cuenta? Iniciar sesión </a>
        </form>
      </ion-card-content>
    </ion-card>
  </ion-row>
  <ion-row class="ion-justify-content-center">

    <ion-button (click)="register()" fill="outline" color="rojo">
      Registrarse
    </ion-button>
  </ion-row>

</ion-content>