<ion-header [translucent]="true" id="header">
  <ion-title id="textTitle">HOME</ion-title>
  <div>
    <ion-card id="profileCard">
      <ion-card-header>Bienvenido/a</ion-card-header>
      <ion-card-content id="textCard">{{username}}</ion-card-content>
    </ion-card>
  </div>
</ion-header>

<ion-content>
  <div id="container">

    <div id="bloque" [routerLink]="['/ver-infantes', propiedadId]">
      Perfil niños/as
      <ion-tab-button>
        <div id="area">
          <ion-icon name="happy" id="iconMenu"></ion-icon>
        </div>
      </ion-tab-button>
    </div>

    <div id="bloque">
      Llamar
      <ion-tab-button>
        <div id="area">
          <ion-icon name="call" id="iconMenu"></ion-icon>
        </div>
      </ion-tab-button>
    </div>

    <div id="bloque" [routerLink]="['/tutorial']">
      Procedimientos de emergencia
      <ion-tab-button>
        <div id="area">
          <ion-icon name="information-circle" id="iconMenu"></ion-icon>
        </div>
      </ion-tab-button>
    </div>

    <div id="bloque">
      Mapa
      <ion-tab-button>
        <div id="area">
          <ion-icon name="location" id="iconMenu"></ion-icon>
        </div>
      </ion-tab-button>
    </div>
  </div>
</ion-content>

<!--  MODAL DEL SOS   -->
<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    
    <ion-button slot="end" size="large" color="danger" (click)="setOpen(false)">
      Cerrar
      <ion-icon name="close-circle" slot="end"></ion-icon>
    </ion-button>

    <ion-content>
      
      <div id="mContainer">
    
        <ion-button href="tel:{{numCentroMedico}}" id="mBloque" shape="round" color="danger" fill="outline">
          Centro Medico
        </ion-button>
    
        <ion-button href="tel:{{numBomberos}}" id="mBloque" shape="round" color="danger" fill="outline">
          Bomberos
        </ion-button>

        <ion-button href="tel:{{numCarabineros}}" id="mBloque" shape="round" color="danger" fill="outline">
          Carabineros
        </ion-button>
        <ion-button (click)="location()" id="area" shape="round" color="danger" fill="outline">
          Compartir ubicación 
          <ion-icon name="share-social"></ion-icon>
        </ion-button>
      </div>
      
    </ion-content>
  </ng-template>
</ion-modal>

<!--  FIN DEL MODAL SOS  -->

<!--  FOOTER  -->

<footer id="fContainer">

  <div id="fBloque">
    <ion-button shape="round" fill="solid" size="large" expand="block" slot="icon-only" color="light">
      <ion-icon name="home"></ion-icon>
    </ion-button>
  </div>

  <div id="fBloque">
    <ion-button shape="round" fill="solid" size="large" expand="block" slot="icon-only" color="light">
      <ion-icon name="bookmarks"></ion-icon>
    </ion-button>
  </div>

  <div id="fBloque">
    <ion-button [routerLink]="['/perfil']" shape="round" fill="solid" size="large" expand="block" slot="icon-only" color="light">
      <ion-icon name="person"></ion-icon>
    </ion-button>
  </div>

  <div id="emergenciaBtn">
    <ion-button (click)="setOpen(true)" id="sos" shape="round" fill="solid" size="large" expand="block" slot="icon-only" color="danger">
      SOS
      <ion-icon name="radio"></ion-icon>
    </ion-button>
  </div>
  

</footer>


