<ion-header [translucent]="true" id="header">
  <ion-title id="textTitle">HOME</ion-title>
  <div>
    <ion-card id="profileCard">
      <ion-card-header>Bienvenido/a</ion-card-header>
      <ion-card-content id="textCard">Jane Doe</ion-card-content>
    </ion-card>
  </div>
</ion-header>

<ion-content>
  <div id="container">

    <div id="bloque">
      Perfil niños/as
      <ion-tab-button>
        <div id="area">
          <ion-icon name="happy" id="iconMenu"></ion-icon>
        </div>
      </ion-tab-button>
    </div>

    <div id="bloque">
      Llamar
      <ion-tab-button>
        <div id="area">
          <ion-icon name="call" id="iconMenu"></ion-icon>
        </div>
      </ion-tab-button>
    </div>

    <div id="bloque">
      Procedimientos de emergencia
      <ion-tab-button>
        <div id="area">
          <ion-icon name="information-circle" id="iconMenu"></ion-icon>
        </div>
      </ion-tab-button>
    </div>

    <div id="bloque" >
      Mapa
      <ion-tab-button>
        <div id="area">
          <ion-icon name="location" id="iconMenu"></ion-icon>
        </div>
      </ion-tab-button>
    </div>
  </div>

</ion-content>


<footer id="fContainer">

  <div id="fBloque">
    <ion-button shape="round" fill="solid" size="large" expand="block" slot="icon-only" color="light">
      <ion-icon name="home"></ion-icon>
    </ion-button>
  </div>

  <div id="fBloque">
    <ion-button shape="round" fill="solid" size="large" expand="block" slot="icon-only" color="light">
      <ion-icon name="bookmarks"></ion-icon>
    </ion-button>
  </div>

  <div id="fBloque">
    <ion-button shape="round" fill="solid" size="large" expand="block" slot="icon-only" color="light">
      <ion-icon name="person"></ion-icon>
    </ion-button>
  </div>

</footer>